QMainWindow {
    background-color: #8e6;
}

QWidget {
    font-family: "Rubik";
    font-size: 10pt;
    margin: 0px;
}

QPushButton {
    padding: 6px;
    border: 1px solid #0078D7;
}

QLineEdit {
    padding: 4px;
}

#info_widget {
    background-color: white;
}

/* QLabel#info_thumbnail {
    doesnt work from here - its in the main windget declaration
    max-width: 250px;
    max-height: 250px;
    background-color: #3c3;
} */

#info_name {
    font-family: "Rubik";
    font-weight: bold;
    font-size: 22px;
}


#info_author {
    font-size: 12px;
    color: #595959;
    margin-top: 0px;
}


#info_description {
    margin-top: 10px;
}


#info_tags {
    font-size: 12px;
    margin-top: 10px;
}


#browse_button {
    background-color: white;
    color: black;
    border-radius: 8px;
}

#browse_button:hover {
    background-color: #0078D7;
    color: white;
}

QCheckBox#debug_checkbox {
    font-size: 11px;
    color: #555;
}

QCheckBox#debug_checkbox:hover {
    color: #37d;
}

QCheckBox#debug_checkbox::indicator {
    width: 13px;
    height: 13px;
}

QPushButton#view_logs_button {
    font-size: 11px;
    color: #555;
    text-decoration: underline;
    border: none;
    padding: 0px;
    margin: 0px, 4px;
}

QPushButton#view_logs_button:hover {
    color: #7bf;
}

#call_box {
    /* background-color: #d855bc; */
    min-height: 100px;
}

#call_button {
    font-family: "Rubik";
    background-color: #0078D7;
    color: white;
    border-radius: 8px;
    border: 0px;
    width: 80px;
    max-width: 150px;
    margin-top: 10px;
}

#call_button:hover {
    background-color: #2893FF;
}

#call_button:pressed {
    background-color: #005A9E;
}